[submodule "Carthage/Checkouts/SwiftShell"]
	path = Carthage/Checkouts/SwiftShell
	url = https://github.com/kareman/SwiftShell.git
[submodule "Carthage/Checkouts/Moderator.swift"]
	path = Carthage/Checkouts/Moderator.swift
	url = https://github.com/kareman/Moderator.swift.git
